<%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>


<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>
<%= text_field_tag :product, params[:product] %>
<%= submit_tag "add to cart", name:nil %>
<% end %>

